/* ProjectionSheetTable.css */

.custom-datagrid-header {
  background-color: #2a5e5c; /* Change this to your desired header color */
  color: rgb(255, 255, 255); /* Change this to your desired text color */
  padding: 10px !important; /* Adjust the padding to decrease the height */
  font-weight: bold;
  font-size: 13px !important;

  /* font-size: 10px; */
}
.row:nth-child(odd) {
  background-color: #dce8ea; /* or any color you prefer for odd rows */
  font-weight: bold;
}

.row:nth-child(even) {
  background-color: #f5f0f0;
  font-weight: bold; /* or any color you prefer for even rows */
}

.MuiDataGrid-root .MuiDataGrid-row:nth-child(even) {
  background-color: #f5f0f0;
  font-size: 12px !important; /* Change this to your desired even row color */
}

.MuiDataGrid-root .MuiDataGrid-row:nth-child(odd) {
  background-color: #fcfafa;
  font-size: 12px !important; /* Change this to your desired odd row color */
}
